// тут будут хранится файлы переменных, значения брекпоинтов для сеты бутстрам и значения плавных переходов для анимации
$colorBasicDark: black;
$colorBasicLight: white;
$colorBasicMiddle: #666666;
$colorPrimary: #1698d9;
$colorPrimaryHover: #2ea8e5;
$colorSecondary: #d91667;
$colorSecondaryHover: #e62e7a;
$colorDisable: #d3d3d3;
$colorDisableText: #ffff66;

